APScheduler
asgiref
mysqlclient
Brotli
certifi
cffi
chardet
charset-normalizer
colorama
crispy-tailwind
cryptography
cssselect2
Django
django-apscheduler
django-crispy-forms
django-environ
django-tailwind
fonttools
idna
mercadopago
pillow
psycopg2-binary
pycparser
pydyf
pyphen
python-dateutil
python-dotenv
qrcode
reportlab
requests
sqlparse
tinycss2
tinyhtml5
tzdata
tzlocal
urllib3
weasyprint
webencodings
zopfli