# Ejecutar el script de generación de links de pago todos los días a las 8:00 AM (hora de Chile)
0 8 * * * ~/forgeapp/scripts/generate_payment_links.sh >> ~/forgeapp/logs/cron.log 2>&1

# Ejecutar el script de generación de links de pago todos los días a las 8:00 PM (hora de Chile)
0 20 * * * ~/forgeapp/scripts/generate_payment_links.sh >> ~/forgeapp/logs/cron.log 2>&1
